/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* font styling below */

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 63.5%;
}

h1,
h2,
h3,
h4,
h5 {
  /* font-size: 1.8rem; */
  margin-bottom: 1.5rem;
  font-family: "Rubik", sans-serif;
}

h2 {
  font-size: 2.2rem;
}

p {
  line-height: 1.4;
  font-size: 1.5rem;
}

a {
  font-size: 1.6rem;
}

/* styling the header */

/* this is the logo and navigation */
.nav-bar {
  display: flex;
  margin: 2rem;
}

.nav-bar img {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.nav-bar nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 1.8rem;
}

/* this is the image that stretches across header */
.header-image {
  max-height: 400px;
  overflow: hidden;
  margin-bottom: 20px;
}

.header-image img {
  width: 100%;
  margin: -300px 0px 0px 0px;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 2rem auto;
}

.top-content {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  border-bottom: 1px dashed black;
}

.top-content .text-container {
  padding: 0 1%;
  padding-bottom: 20px;
}

.middle-content {
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}

.middle-content h2 {
  padding: 0 2%;
  margin-bottom: 0;
}

.middle-content .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* box shape and styling */

.middle-content .boxes .box {
  width: 12.5%;
  height: 100px;
  /* background: black; */
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  flex-wrap: wrap;
}

/* .boxes individual color assignments */

.middle-content .boxes .box1 {
  background-color: #118080;
}

.middle-content .boxes .box2 {
  background-color: #fed631;
}

.middle-content .boxes .box3 {
  background-color: #629ea0;
}

.middle-content .boxes .box4 {
  background-color: #fd7f57;
}

.middle-content .boxes .box5 {
  background-color: #da1a40;
}

.middle-content .boxes .box6 {
  background-color: #288a2a;
}

.middle-content .boxes .box7 {
  background-color: #983bc9;
}

.middle-content .boxes .box8 {
  background-color: #fd6cb4;
}

.middle-content .boxes .box9 {
  background-color: #4b0d80;
}

.middle-content .boxes .box10 {
  background-color: #2993fc;
}

.bottom-content {
  display: flex;
  margin: 0 2% 20px;
  justify-content: space-around;
}

.bottom-content .text-container {
  padding-right: 4%;
}

.bottom-content .text-container:last-child {
  padding-right: 0;
}

footer {
  width: 100%;
  background: black;
}

footer nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  font-size: 14px;
}

footer nav a {
  color: white;
  text-decoration: none;
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .top-content {
    display: flex;
    flex-direction: column;
  }
  .middle-content .boxes .box {
    width: 35%;
    height: 200px;
  }
  .bottom-content {
    flex-wrap: wrap;
  }
  .bottom-content .text-container {
    width: 45%;
  }
}

@media (max-width: 500px) {
  .middle-content .boxes {
    flex-direction: column;
    align-items: center;
  }

  .middle-content .boxes .box {
    width: 200px;
    height: 200px;
  }
  .bottom-content {
    flex-wrap: wrap;
  }
  .header-image img {
    height: 500px;
  }
  .nav-bar {
    flex-direction: column;
    align-items: center;
  }
  .nav-bar nav {
    flex-direction: column;
    align-items: center;
  }
}
